[submodule "cbuild"]
	path = cbuild
	url = https://github.com/Timerix22/cbuild.git
[submodule "kerep"]
	path = kerep
	url = https://github.com/Timerix22/kerep.git
[submodule "SDL2"]
	path = SDL2
	url = https://github.com/Timerix22/SDL.git
	branch = SDL2
[submodule "imgui"]
	path = imgui
	url = https://github.com/Timerix22/imgui.git
    branch = docking_cbuild
[submodule "imgui-node-editor"]
	path = imgui-node-editor
	url = https://github.com/Timerix22/imgui-node-editor.git
    branch = develop_cbuild
[submodule "imnodes"]
	path = imnodes
	url = https://github.com/Timerix22/imnodes
    branch = master_cbuild
